.contact-us-section.main
  .row
    .medium-10.columns.medium-centered
      %h1 Contact Us

      = form_for @message, html: { class: "light" } do |f|
        = f.label :email
        = f.text_field :email

        = f.label :body, "Message"
        = f.text_area :body

        = f.submit "Get in touch!", class: "button-white"
