<h1>Edit <%= @game.title %></h1>

<%= form_for [:admin, @game] do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :price %>
  <%= f.number_field :price, :class => 'text_field', :step => :any %>

  <%= f.submit "Update Game", class: "button" %>
<% end %>
