#mycart.small-10.small-centered.medium-8.large-8.column
  .p1.glassy-bg.mb1.text-center.radius-l1.radius-r1
    %h4 My Cart
    %p.mb0
      You've selected
      %span.cart-count= CartManager.new(session[:cart_id]).cart_count
      games!
  - @cart_games.each do |game|
    .cart-game.large-12.column.mb1{"data-equalizer" => ""}
      .column.large-2.text-center.p0{"data-equalizer-watch" => ""}
        = link_to game do
          = game.title
      .column.large-3.primary-bg.text-center.radius-r1{"data-equalizer-watch" => ""}
        = link_to "" , data: {targetUrl: remove_from_cart_path(game)} do
          %i.fi-x.right
        %h4.scale
          $ #{game.price}
  = link_to "Checkout", new_transaction_path, class: "button" unless CartManager.new(session[:cart_id]).get_games.blank?
