.press-kit.clearfix
  .row.text-center
    = image_tag "toss-cup.png", class: "toss-cup"
    = image_tag "toss.png", class: "toss-title", alt: "ToSS"
    %h2
      Press <span>K</span>it

  .row
    .medium-9.columns.about-section
      .box
        %h3 About

        %p "ToSS: Trials of Sword and Staff" is a cooperative dexterity game in which you are heroes fighting to slay monsters and loot treasure - by throwing ping pong balls into cups. Earn levels as a warrior or a wizard, explore exciting new powers and most importantly, get to have fun whatever your skill level.  Your team can take on a full campaign and try to achieve glory, keep it quick with a single scenario, or even go head-to-head in team combat!

        %p Here are just a few features of ToSS:

        %ul
          %li Unique class & leveling systems that rewards sinking and missing
          %li 45 full-art item cards that grant special powers
          %li 15 distinct scenarios, each with new foes and objectives
          %li Strategic decision-making and gameplay

        %p We’ll be <strong>launching our Kickstarter on May 14th.</strong> We’ve shared ToSS with over 100 people already, and we can’t wait to release it fully into the wild. We’ve also partnered with Game Over Boston as their official ‘pong game for gamers’, and are proud to be a part of their events this Spring.

      .box.clearfix
        %h3 Images
        .columns.medium-3.small-4
          = link_to image_url("press_kit/cards_and_cups.jpg"), { class: "press-kit-image-link", "data-lightbox" => "press-kit-images", "data-title" => "My caption" } do
            = image_tag "press_kit/cards_and_cups.jpg"

        .columns.medium-3.small-4
          = link_to image_url("press_kit/toss_tracker_sheet.jpg"), { class: "press-kit-image-link", "data-lightbox" => "press-kit-images", "data-title" => "My caption" } do
            = image_tag "press_kit/toss_tracker_sheet.jpg"

        .columns.medium-3.small-4
          = link_to image_url("press_kit/toss_poster.jpg"), { class: "press-kit-image-link", "data-lightbox" => "press-kit-images", "data-title" => "My caption" } do
            = image_tag "press_kit/toss_poster.jpg", class: "portrait"

        .columns.medium-3.small-4
          = link_to image_url("press_kit/toss_backboard.jpg"), { class: "press-kit-image-link", "data-lightbox" => "press-kit-images", "data-title" => "My caption" } do
            = image_tag "press_kit/toss_backboard.jpg"

        .columns.medium-3.small-4
          = link_to image_url("press_kit/the_dark_woods.jpg"), { class: "press-kit-image-link", "data-lightbox" => "press-kit-images", "data-title" => "My caption" } do
            = image_tag "press_kit/the_dark_woods.jpg"

        .columns.medium-3.small-4
          = link_to image_url("press_kit/the_dragon.jpg"), { class: "press-kit-image-link", "data-lightbox" => "press-kit-images", "data-title" => "My caption" } do
            = image_tag "press_kit/the_dragon.jpg"

        .columns.medium-3.small-4
          = link_to image_url("press_kit/gloves_of_dexterity.png"), { class: "press-kit-image-link", "data-lightbox" => "press-kit-images", "data-title" => "My caption" } do
            = image_tag "press_kit/gloves_of_dexterity.png", class: "portrait"

        .columns.medium-3.small-4.end
          = link_to image_url("press_kit/winged_boots.png"), { class: "press-kit-image-link", "data-lightbox" => "press-kit-images", "data-title" => "My caption" } do
            = image_tag "press_kit/winged_boots.png", class: "portrait"

      .box
        %h3 Feedback

        %blockquote This was a very interesting and highly amusing take on traditional Pong-style games. The variation in the scenarios and progression of the story allowed for a surprising amount of strategic depth given that the mechanics are always the same.
        %blockquote I was very impressed at the amount of flexibility at my disposal.
        %blockquote It was deep enough that it held my interest far more than a standard party game...I'd never go back to ordinary Beer Pong or Flip Cup!

        .citation= link_to "- Care and Feeding of Nerds Playtesting Lab", "http://www.thecareandfeedingofnerds.com/", { target: "_blank" }

    .medium-3.columns.fact-sheet
      .box
        %h3 Fact Sheet

        %strong Developer:
        %p Vaguely Amazing

        %strong Founding Date:
        %p October 5, 2015

        %strong Website:
        %p= link_to "www.playtoss.net", root_path

        %strong Press Contact:
        %p= link_to "justin@playtoss.net", "mailto:justin@playtoss.net"

        %strong Social Media:
        %ul
          %li= link_to "Facebook", "https://www.facebook.com/vaguelyamazing/", { target: "_blank" }
          %li= link_to "Twitter", "https://twitter.com/TossKickstarter", { target: "_blank" }

        %strong Address:
        %p 145 Brooks St #3 <br /> Brighton, MA 02135

        %strong Phone:
        %p 914-310-9450
