- title "ToSS: Fantasy RGB Pong Game - Vaguely Amazing"
- meta_description "TODO ADD META DESCRIPTION"

.toss-game.clearfix
  .row
    .small-4.columns
      = image_tag "cup.png"

    .small-8.columns
      .columns
        = image_tag "toss.png"

        %h3 What is T.o.S.S.?

        %p "ToSS: Trials of Sword and Staff" is a cooperative, strategic, fantasy pong game in which you play heroes fighting to save the kingdom from doom - by sinking balls into cups. ToSS is our flagship game, and we're aiming to launch a Kickstarter in Spring 2016.

        %p For now, you can print and play our latest Playtest Edition for free! Just download and print all the files, read the rules, gather your friends, and enjoy - and don't forget to leave us your feedback!

        .text-center
          = link_to "View the Rules", "/Toss_Rulebook.pdf", class: "button-white mrl"
          = link_to "Download the Print-and-Play", "/ToSS_PrintnPlay_(October_Edition).zip", class: "button-white"

      .columns
        %h4 Sign up for news on the Kickstarter
      = render "homes/mailchimp_form"

#feedback-section.clearfix
  .row
    %h1 Give us feedback!

    = render "homes/feedback_form"
