%ul.social-media
  %li
    = link_to "https://twitter.com/TossKickstarter", { target: "_blank" } do
      = image_tag "twitter.png", alt: "Our Twitter Account"
  %li
    = link_to "https://www.facebook.com/vaguelyamazing", { target: "_blank" } do
      = image_tag "facebook.png", alt: "Our Twitter Account"
  -# %li
  -#   = link_to "#" do
  -#     = image_tag "instagram.png", alt: "Our Twitter Account"
%nav{class: "#{'home' if controller.action_name == 'index' || controller.action_name == 'press_kit'}"}
  %ul
    %li{class: "#{'active' if controller.action_name == 'index'}"}= link_to 'Home', root_path
    %li{class: "#{'active' if controller.action_name == 'about_us'}"}= link_to 'About Us', about_us_path
    %li{class: "#{'active' if controller.action_name == 'press_kit'}"}= link_to 'Press Kit', press_kit_path
    -# %li{class: "#{'active' if params[:controller] == 'feedbacks'}"}= link_to 'Give Feedback', "/feedback"
    %li{class: "#{'active' if params[:controller] == 'contact_messages'}"}= link_to 'Contact Us', contact_path
    - if current_user.present?
      %li= link_to 'Sign Out', destroy_user_session_path, method: :delete
