!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title Vaguely Amazing
    %meta Come playtest ToSS - a cooperative, strategic, fantasy pong game in which you play heroes fighting to save the kingdom from doom - by sinking balls into cups. 
    = include_gon
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags
  %body
    = render "layouts/flash"
    = render "layouts/header"

    = yield

    = render "layouts/footer"

    %script{:src => "https://js.braintreegateway.com/v2/braintree.js"}
    = javascript_include_tag 'application'
    = yield :extra_footer
